
<!DOCTYPE html>
<html>
	<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="商户平台">
		<meta name="description" content="商户平台">   
		<title>{:config('web_site_title')}-USDT承兑平台</title>
		<link rel="stylesheet" type="text/css" href="static/home/netindex/static/home/css/blue_common.css">
		<link rel="stylesheet" type="text/css" href="static/home/netindex/static/home/css/blue_header-footer.css">
		<link rel="stylesheet" type="text/css" href="static/home/netindex/static/home/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="static/home/netindex/static/home/css/blue_index.css">
	</head>
	<body>
		<div class="starfire-header"></div>
		<div class="wrap">
			<div class="section1 swiper-container">
				<div class="swiper-wrapper tac">
					
					<div class="swiper-slide-1 swiper-slide">
						<img src="static/home/netindex/static/home/images/home_banner_word.png" alt="">
						<h1>全球风控级别最高的数字货币支付通道</h1>
						<p class="flex">
							
							<a class="login-btn" target="_bank" href="login.html">商户平台接入</a>
							<a class="reg-btn" target="_bank" href="register.html">成为认证币商</a>
						</p>
					</div>
					<div class="swiper-slide-2 swiper-slide">
						<h1>顶级银行风控系统技术</h1>
						<p class="white-opy">给你安全、放心的使用感受</p>
						<a href="">了解详情</a>
					</div>
					<div class="swiper-slide-3 swiper-slide">
						<h1>商户服务</h1>
						<p class="white-opy">提供数字货币支付通道、币币通道服务</p>
						<a href="">立即接入</a>
					</div>

					<div class="swiper-slide-4 swiper-slide">
						<img src="static/home/netindex/static/home/images/home_banner_word2.png" alt="">
						<h1>支付宝秒级回调即将上线</h1>
						<p class="white-opy">支付宝秒级确认，享受与传统支付宝商家支付一致的秒到体验</p>

						<div class="btn">
							<div class="bg"></div>
							<div class="bg right"></div>
							<div class="info">秒级高效</div>
							<div class="info right">极速体验</div>	
						</div>
						
					</div>
					
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div>
			<div class="section2 rel tac">
				<h1>数字<span class="bold">"支付通道"</span>解决方案领导者</h1>
				<p class="white-opy">全球最领先的支付技术，全球最创新的币币支付产品</p>
				<div class="section2-content flex">
					<div>
						<img src="static/home/netindex/static/home/images/home_leader_img1.png" alt="">
						<h2 class="bold">支付通道</h2>
						<p class="white-opy">点对点充值，平台担保，自动到账</p>
					</div>
					<div>
						<img src="static/home/netindex/static/home/images/home_leader_img2.png" alt="">
						<h2 class="bold">币币通道</h2>
						<p class="white-opy">数字货币充值，自动到账</p>
					</div>
				</div>
				<div class="blank-gap"></div>
			</div>

			<div class="insert-section-demo">
				<div class="content">
					
					<h1>支付测试</h1>
					<div class="float-box">
						<div class="left">
							<p class="title">PC支付</p>
							<div class="input-box">
								<span>支付金额：</span>
								<span>500元</span>
							</div>
							<div class="btn" onclick="showDemo()">确认</div>
						</div>

						<div class="right">
							<p class="title">移动支付</p>
							<div class="qrcode-box">
								<img src="https://api.uomg.com/api/qrcode?url={$domain}/1.php" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="insert-section">
				<div class="content">
					
					<h1>支付宝秒级回调</h1>
					<p class="white-opy">支付宝秒级确认，享受支付宝直连一样的支付感受</p>
					<div class="btn">
						<div class="bg"></div>
						<div class="bg right"></div>
						<div class="info">秒级高效</div>
						<div class="info right">极速体验</div>	
					</div>
					<img src="static/home/netindex/static/home/images/home_callback_img.png" alt="">
				</div>
			</div>


			<div class="section3 tac">
				<h1>最稳定、最安全、最便捷的支付通道</h1>
				<p class="white-opy">解决商户一切疑虑问题，提供最安全、最稳定支付，为商户运营保驾护航</p>
				<div id="section3" class="section3-content flex">
					<div>
						<h3>快速接入</h3>
						<p>简单接口，技术便捷对接，5分钟完成</p>
					</div>
					<div>
						<h3>稳定</h3>
						<p>银行级系统，保障绝对稳定的出入金体验，不怠机、不死机</p>
					</div>
					<div>
						<h3>安全</h3>
						<p>区块链分布式多重冷热钱包资金存储，保障资金绝对安全</p>
					</div>
					<div>
						<h3>百万级并发</h3>
						<p>GO+C语言混合开发撮合系统，达百万级撮合效率，订单处理效率极高</p>
					</div>
					<div>
						<h3>T+0</h3>
						<p>商户T+0出入金，当天收款当天提现</p>
					</div>
				</div>
			</div>
			<div class="section4 tac">
				<h1>覆盖全范围支付场景</h1>
				<p class="white-opy">最全的支付覆盖范围，帮助企业业务增长</p>
				<img src="static/home/netindex/static/home/images/home_scene_img.png" alt="">
			</div>
			<div class="section5">
				<h1 class="tac"><span class="bold">世界顶级</span>银行风控体系技术</h1>
				<p class="tac white-opy">UWEB技术团队来自全球500强金融企业，UWEB团队专注于安全体系的搭建，<br>致力于打造全球最安全、便捷的冷钱包</p>
				<div class="section5-content flex">
					<div id="section5-list" class="section5-list flex">
						<div>冷钱包储存</div>
						<div>AI技术</div>
						<div>高性能服务器部署</div>
						<div>信用风控</div>
						<div>风控模式搭建</div>
						<div>数据加密</div>
					</div>
					<img src="static/home/netindex/static/home/images/home_technologyt_img.png" alt="">
				</div>
			</div>
			<div class="section6">
				<div class="section6-1 tac">
					<h1>资金安全险</h1>
					<p class="white-opy">确保商户资金安全，我们将为每一名商户购买一份“资金丢失险”若在本平台发生资金丢失，<br>则可获得全额资金赔偿。确保商户资金安全，为商户提供安全、放心的体验</p>
					<div class="section6-1-content flex">
						<div>
							<img src="static/home/netindex/static/home/images/home_insurance_img1.png" alt="">
							<p>资金丢失</p>
						</div>
						<div>
							<img src="static/home/netindex/static/home/images/home_insurance_icon.png" alt="">
						</div>
						<div>
							<img src="static/home/netindex/static/home/images/home_insurance_img2.png" alt="">
							<p>全额赔偿</p>
						</div>
					</div>
				</div>
				<div class="section6-2 tac">
					<h1>最值得信赖的支付通道</h1>
					<p class="white-opy">UWEB目前已经服务全球客户，服务指标已经达顶级</p>
					<img src="static/home/netindex/static/home/images/home_trust_text2.png" alt="">
				</div>
			</div>
			<div class="section7 tac">
				<h1>我们的优势</h1>
				<div id="section7" class="section7-content flex">
					<div>
						<h3>高度安全风控系统</h3>
						<p>10年安全风控系统团队，高防运维维护，高度风险监控报警，确保系统资金安全</p>
					</div>
					<div>
						<h3>国际权威区块链开发经验</h3>
						<p>丰富区块链开发经验，开发团队来自世界500强公司，且曾开发多个区块链项目</p>
					</div>
					<div>
						<h3>24小时交易服务</h3>
						<p>提供24小时交易，没有休息时间，没有假期。任何时间均可交易</p>
					</div>
					<div>
						<h3>T+0出入金</h3>
						<p>商户随时随地提现，没有时效限制，T+0高效出金</p>
					</div>
					<div>
						<h3>客户资金保险</h3>
						<p>每名客户均购买资金安全险，在平台中发生资金丢失可全额赔偿</p>
					</div>
					<div>
						<h3>专业高效承兑商团队</h3>
						<p>世界级效率承兑商团队，订单平均处理时间2min，24小时不间歇</p>
					</div>
				</div>
			</div>
			<div class="section8 tac">
				<h1>布局全球运营站点</h1>
			</div>
		</div>
				<div class="starfire-footer"><div class="content">
			<div class="left">
				<div class="logo"></div>
				<div class="text">
					<p>全球风控级别最高的支付通道</p>
					<p>UK SPARK DIGITAL CURRENCY PAYMENT.LTD 11848905</p>
				</div>
			</div>
			<div class="info">
				<div class="bank">
					<p class="title">银行支持</p>
					<ul>
						<li><img src="static/home/netindex/img/footer_bank_1.png"></li>
						<li><img src="static/home/netindex/img/footer_bank_2.png"></li>
						<li><img src="static/home/netindex/img/footer_bank_3.png"></li>
						<li><img src="static/home/netindex/img/footer_bank_4.png"></li>
						<li><img src="static/home/netindex/img/footer_bank_5.png"></li>
					</ul>
					<ul class="second">
						<li><img src="static/home/netindex/img/footer_bank_6.png"></li>
						<li><img src="static/home/netindex/img/footer_bank_7.png"></li>
					</ul>
				</div>
				<div class="company" style="width: 180px;">
					<p class="title">合作伙伴</p>
					<ul>
						<li><img src="static/home/netindex/img/footer_partner_1.png"></li>
						<li><img src="static/home/netindex/img/footer_partner_2.png"></li>
						<li><img src="static/home/netindex/img/footer_partner_3.png"></li>
						<li><img src="static/home/netindex/img/footer_partner_4.png"></li>
						<li><img src="static/home/netindex/img/footer_partner_5.png"></li>
					</ul>
					<ul class="second">
						<!--  <li><img src="static/home/images/footer_partner_6.png"></li> -->
						<li><img src="static/home/netindex/img/footer_partner_7.png"></li>
					</ul>
				</div>
			</div>
		</div></div>
		
		<script type="text/javascript" src="static/home/netindex/static/home/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="static/home/netindex/static/home/js/blue_common.js"></script>
		<script type="text/javascript" src="static/home/netindex/static/home/js/blue_swiper.min.js"></script>
		<script type="text/javascript">
			loadHeader(0);
			loadFooter();
			$(document).ready(function () {
				var mySwiper = new Swiper ('.swiper-container', {
					loop: true, // 循环模式选项
					autoplay:true,
					delay: 1000,
					// 如果需要分页器
					pagination: {
						el: '.swiper-pagination',
						clickable :true
					},
				})
				$("#section3>div").hover(function(){
					$(this).stop(true).animate({top:'-20px'}).addClass('section3-hover')
				},function(){
					$(this).stop(true).animate({top:'0px'}).removeClass('section3-hover')
				})
				$("#section5-list>div").hover(function(){
					$(this).stop(true).animate({top:'-10px'}).addClass('section5-hover')
				},function(){
					$(this).stop(true).animate({top:'0px'}).removeClass('section5-hover')
				})
				$("#section7>div").hover(function(){
					$(this).stop(true).animate({top:'-10px'}).addClass('section7-hover')
				},function(){
					$(this).stop(true).animate({top:'0px'}).removeClass('section7-hover')
				})
			});
			
			function showDemo() {
				var url = "{$domain}/1.php";
				window.open(url, "_blank", "scrollbars=yes,resizable=1,modal=true");
			}
		</script>
	</body>
</html>
