.white-opy{
    color: rgba(255,255,255,0.5)
}
.wrap{
    background-color:#003766; 
}
.section1{
    height: 1000px;
    color: #ffffff;
}
.swiper-slide-1{
    background: url(../images/home_banner_bg1.png) no-repeat center;
    background-size: cover;
}
.swiper-slide-1 img{
    padding-top: 300px;
}
.swiper-slide-1 h1{
    font-size: 40px;
    margin: 24px 0 32px;
}
.swiper-slide-1 p{
    justify-content: center;
}
.swiper-slide-1 .reg-btn{
    width: 180px;
    height: 48px;
    line-height: 48px;
    background:rgba(38,153,251,1);
    box-shadow:0px 2px 4px 1px rgba(38,153,251,0.5);
    border-radius:24px;
    color: #ffffff;
    margin-right: 24px;
}
.swiper-slide-1 .reg-btn:hover{
    background-color: rgba(60,163,251);
}
.swiper-slide-1 .login-btn{
    color: #ffffff;
    width: 180px;
    height: 48px;
    line-height: 48px;
    border-radius:24px;
    border:2px solid rgba(255,255,255,0.3);
    margin-left: 24px;
}
.swiper-slide-1 .login-btn:hover{
    background-color: rgba(255,255,255,0.1);
}
.swiper-slide-2{
    background: url(../images/home_banner_bg2.png) no-repeat center;
    background-size: cover;
}
.swiper-slide-3{
    background: url(../images/home_banner_bg3.png) no-repeat center;
    background-size: cover;
}
.swiper-slide-4{
    background: url(../images/home_banner_bg4.png) no-repeat center;
    background-size: cover;
}
.swiper-slide-4 img{
    padding-top: 300px;
}
.swiper-slide-4 h1{
    font-size: 40px;
    margin: 24px 0 32px;
}
.swiper-slide-4 p{
    justify-content: center;
}

.swiper-slide-4 .btn {
    
    width: 224px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
}
.swiper-slide-4 .btn > div {
    position: absolute;
}

.swiper-slide-4 .btn .bg {
    width:100px;
    height:32px;
    border:1px solid rgba(255,255,255, 1);
    /*box-shadow:0px 4px 8px rgba(38,153,251,0.5);*/
    border-radius:24px;
    font-size:14px;
    font-weight:400;
    line-height:33px;
    color:rgba(255,255,255,1);
    opacity: 0.5;
    cursor: pointer;
}
.swiper-slide-4 .btn .right {
    left: 124px;
}
.swiper-slide-4 .btn .info {
    width:100px;
    height:33px;
    line-height: 33px;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    opacity:1;
}









.swiper-slide-2 h1,
.swiper-slide-3 h1{
    padding-top: 340px;
}
.swiper-slide-2 p,
.swiper-slide-3 p{
    margin: 16px 0 32px;
}
.swiper-slide-2 a,
.swiper-slide-3 a{
    display: inline-block;
    width: 180px;
    height: 48px;
    line-height: 48px;
    background:rgba(38,153,251,1);
    box-shadow:0px 2px 4px 1px rgba(38,153,251,0.5);
    border-radius:24px;
    color: #ffffff;
    margin-right: 24px;
}
.swiper-slide-2 a:hover,
.swiper-slide-3 a:hover{
    background-color: rgba(60,163,251);
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width:78px;
    height:2px;
    background:rgba(38,153,251,1);
    border-radius: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 240px;
}

/* section2 */
.section2{
    width: 1200px;
    height: 760px;
    margin: 0 auto;
    background:rgba(0,138,255,0.5);
    border-radius:32px;
    top: -200px;
    color: #ffffff;
}
.section2 h1{
    padding-top: 100px;
}
.section2>p{
    margin: 16px 0 100px;
}
.section2 .section2-content{
    justify-content: space-between;
    margin: 0 152px;
}
.section2 .section2-content h2{
    margin: 20px 0 24px;
    font-size: 20px;
    color: #04CFD6;
}

/* section3 */
.section3{
    color: #ffffff;
}
.section3 h1{
    /* margin-top: 160px; */
}
.section3>p{
    margin: 16px 0 100px;
}
.section3 .section3-content{
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.section3 .section3-content div{
    width:200px;
    height:310px;
    background-color:rgba(0,83,153,0.5) !important;
    border:3px solid rgba(0,110,204,0.5);
    border-radius:16px;
    box-sizing: border-box;
    position: relative;
}
.section3 .section3-content .section3-hover{
    background-color:rgba(0,83,153,1) !important;
}
.section3 .section3-content h3{
    font-size: 20px;
    padding-top: 160px;
    margin-bottom: 16px;
    font-weight: bold;
}
.section3 .section3-content p{
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    margin: 0 24px;
}
.section3 .section3-content div:nth-of-type(1){
    background: url(../images/home_channel_icon1.png) no-repeat center 40px;
    color: #2699FB;
}
.section3 .section3-content div:nth-of-type(2){
    background: url(../images/home_channel_icon2.png) no-repeat center 40px;
    color: #00BAEB;
}
.section3 .section3-content div:nth-of-type(3){
    background: url(../images/home_channel_icon3.png) no-repeat center 40px;
    color: #00BE97;
}
.section3 .section3-content div:nth-of-type(4){
    background: url(../images/home_channel_icon4.png) no-repeat center 40px;
    color: #2699FB;
}
.section3 .section3-content div:nth-of-type(5){
    background: url(../images/home_channel_icon5.png) no-repeat center 40px;
    color: #00BAC1;
}

/* section4 */
.section4{
    height: 1280px;
    background:rgba(0,110,204,1);
    border-radius:32px;
    margin: 160px 32px 0;
    color: #ffffff;
}
.section4 h1{
    padding-top: 100px;
}
.section4 p{
    margin: 16px 0 40px;
}

/* section5 */
.section5{
    color: #ffffff;
    margin-top: 160px;
}
.section5>p{
    margin: 16px 0 70px;
}
.section5-content{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.section5-list{
    justify-content: space-between;
    flex-flow:row wrap;
    width: 588px;
}
.section5-list div{
    width:282px;
    height:120px;
    line-height: 120px;
    background-color:rgba(0,83,153,0.5) !important;
    border:3px solid rgba(0,110,204,0.5);
    border-radius:16px;
    box-sizing: border-box;
    color: rgba(255,255,255,0.5);
    padding-left: 122px;
    position: relative;
}
.section5-list .section5-hover{
    background-color: rgba(0,83,153,1) !important;
}
.section5-list div:nth-of-type(1){
    background: url(../images/home_technologyt_icon1.png) no-repeat 32px center;
}
.section5-list div:nth-of-type(2){
    background: url(../images/home_technologyt_icon2.png) no-repeat 32px center;
}
.section5-list div:nth-of-type(3){
    background: url(../images/home_technologyt_icon3.png) no-repeat 32px center;
}
.section5-list div:nth-of-type(4){
    background: url(../images/home_technologyt_icon4.png) no-repeat 32px center;
}
.section5-list div:nth-of-type(5){
    background: url(../images/home_technologyt_icon5.png) no-repeat 32px center;
}
.section5-list div:nth-of-type(6){
    background: url(../images/home_technologyt_icon6.png) no-repeat 32px center;
}

/* section6 */
.section6{
    margin-top: 160px;
    background: #005399;
    height: 1450px;
}
.section6-1{
    width: 1200px;
    height:600px;
    background:rgba(0,110,204,1);
    border-radius:0px 0px 32px 32px;
    color: #ffffff;
    margin: 0 auto;
}
.section6-1 h1{
    padding-top: 100px;
}
.section6-1>p{
    margin: 16px 0 80px;
}
.section6-1-content{
    justify-content: space-between;
    align-items: center;
    margin: 0 282px;
    color: #04CFD6;
    font-weight: bold;
}
.section6-1-content p{
    padding-top: 16px;
}
.section6-2{
    margin-top: 160px;
    color: #ffffff;
}
.section6-2>p{
    margin: 16px 0 160px;
}

/* section7 */
.section7{
    color: #ffffff;
    padding: 160px 0;
}
.section7 h1{
    margin-bottom: 48px;
}
.section7-content{
    width: 1200px;
    justify-content: space-between;
    flex-flow:row wrap;
    margin: 0 auto;
}
.section7-content>div{
    width:384px;
    height:344px;
    background-color:rgba(0,83,153,0.5) !important;
    border:3px solid rgba(0,110,204,0.5);
    border-radius:16px;
    box-sizing: border-box;
    margin-top: 32px;
    position: relative;
}
.section7-content .section7-hover{
    background-color:rgba(0,83,153,1) !important;
}
.section7-content>div h3{
    font-size: 20px;
    font-weight: bold;
    padding: 200px 0 16px;
}
.section7-content>div p{
    color: rgba(255,255,255,0.5);
    margin: 0 40px;
}
.section7-content>div:nth-of-type(1){
    background: url(../images/home_advantage_icon1.png) no-repeat center 70px;
}
.section7-content>div:nth-of-type(2){
    background: url(../images/home_advantage_icon2.png) no-repeat center 70px;
}
.section7-content>div:nth-of-type(3){
    background: url(../images/home_advantage_icon3.png) no-repeat center 70px;
}
.section7-content>div:nth-of-type(4){
    background: url(../images/home_advantage_icon4.png) no-repeat center 70px;
}
.section7-content>div:nth-of-type(5){
    background: url(../images/home_advantage_icon5.png) no-repeat center 70px;
}
.section7-content>div:nth-of-type(6){
    background: url(../images/home_advantage_icon6.png) no-repeat center 70px;
}


/* section8 */
.section8{
    height: 700px;
    background: url(../images/home_station_bg.png) no-repeat center;
    background-size: cover;
}
.section8 h1{
    color: #ffffff;
    padding-top: 55px;
}
.blank-gap {
    width: 100%;
    height: 100px;
    position: relative;
    background:rgba(0,96,179,1);
    opacity:1;
    border-radius:0px 0px 30px 30px;
}
.insert-section-demo {
    margin-top: -96px;
    width: 100%;
    height: 640px;
    background: url(../images/home_show_img.png) no-repeat center;
    /*background-size: cover;*/
}
.insert-section-demo .content {
    width: 996px;
    margin: 0 auto;
    text-align: center;
}
.insert-section-demo .content h1 {
    font-size:32px;
    font-weight:300;
    line-height:43px;
    color:rgba(255,255,255,1);
    opacity:1;
}
.insert-section-demo .float-box * {
    box-sizing: border-box;
}
.insert-section-demo .float-box {
    width: 792px;
    overflow: hidden;
    margin: 80px auto 0;
}
.insert-section-demo .float-box > div {
    float: left;
    width:384px;
    height:360px;
    background: #00457f;
    border:3px solid rgba(0,110,204,0.5);
    border-radius:16px;
}
.float-box .left {
    margin-right: 24px;
}
.float-box .title {
    height:26px;
    font-size:20px;
    font-weight:bold;
    line-height:26px;
    color:rgba(4,207,214,1);
    opacity:1;
    margin: 60px 0 50px;
}
.float-box .input-box {
    width:228px;
    height:60px;
    background:rgba(0,75,140,1);
    border-radius:8px;
    margin: 0 auto;
    overflow: hidden;
}
.float-box .input-box span {
    float: left;
}
.float-box .input-box span:nth-child(1) {
    width: 90px;
    text-align: right;
    height:60px;
    font-size:12px;
    font-weight:400;
    line-height:60px;
    color:rgba(255,255,255,1);
    opacity:0.3;
}
.float-box .input-box span:nth-child(2) {
    width:100px;
    height:60px;
    font-size:16px;
    font-weight:400;
    line-height:60px;
    color:rgba(255,255,255,1);
    opacity:1;
    margin-left: 30px;
}
.float-box .btn {
    width: 228px;
    height: 48px;
    line-height: 48px;
    background: rgba(38,153,251,1);
    box-shadow: 0px 2px 4px 1px rgba(38,153,251,0.5);
    border-radius: 24px;
    color: #ffffff;
    margin: 0 auto;
    cursor: pointer; 
    margin-top: 40px;
}
.float-box .btn:hover {
    background-color: rgba(60,163,251);
}

.float-box .qrcode-box {
    width:164px;
    height:164px;
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius:8px;
    margin: 0 auto;
    overflow: hidden;
}
.float-box .qrcode-box img {
    width: 92%;
    height: 92%;
    margin-top: 4%;
    margin-left: 4%;
    float: left;
}


.insert-section {
    width: 100%;
    height: 740px;
    background-color: #005399;
    /*margin-top: -296px;*/
    margin-bottom: 160px;
    overflow: hidden;
}
.insert-section .content {
    width: 996px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.insert-section .content h1 {
    font-size:32px;
    font-weight:300;
    line-height:43px;
    color:rgba(255,255,255,1);
    opacity:1;
}
.insert-section .content .white-opy {
    font-size:16px;
    font-weight:300;
    line-height:21px;
    color:rgba(255,255,255,1);
    opacity:0.5;
    margin-top: 16px;
}
.insert-section .btn {
    
    width: 224px;
    height: 34px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
}
.insert-section .btn > div {
    position: absolute;
}

.insert-section .btn .bg {
    width:100px;
    height:32px;
    border:1px solid rgba(255,255,255, 1);
    /*box-shadow:0px 4px 8px rgba(38,153,251,0.5);*/
    border-radius:24px;
    font-size:14px;
    font-weight:400;
    line-height:33px;
    color:rgba(255,255,255,1);
    opacity: 0.5;
    cursor: pointer;
}
.insert-section .btn .right {
    left: 124px;
}
.insert-section .btn .info {
    width:100px;
    height:33px;
    line-height: 33px;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    opacity:1;
}